.subs-body{
    width:100%;
    height:90vh;
    margin-bottom: -40px;
    background: url(https://images.unsplash.com/flagged/photo-1583958287771-905209d928c8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1934&q=80);
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


.subscript-title{
font-size: 70px;
font-weight: 200;
color: rgb(255, 255, 255);

}

.fix{
    padding:30px 60px;
    font-size: 30px;
}

@media screen and (max-width: 880px) {
    .subscript-title{
        font-size: 50px;  
        }
}

@media screen and (max-width: 450px) {
    .subscript-title{
        font-size: 30px; 
        margin-bottom: 90px;
        
        }
}


